@font-face {
  font-weight: 100 900;
  src: url("/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-family: "Figtree";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4d04e;
  padding: 24px;
  min-height: 100dvh;
  font-family: "Figtree";
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  filter: drop-shadow(8px 8px black);
  border: 1px black solid;
  border-radius: 20px;

  background-color: white;

  padding: 24px;
  max-width: 24rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;

  img {
    height: 200px;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.learning {
  border-radius: 4px;
  background-color: #f4d04e;
  padding: 4px 12px;
  width: fit-content;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
}

.description {
  color: #7f7f7f;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .learning {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  & h1 {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
  }
}
